* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 70%;
  background-color: lightblue;
  border: solid 3px black;
}
.container .anim-box {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100px;
  background-color: transparent;
  border: solid 2px white;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
@keyframes animation-1 {
  from {
    transform: translate(0px, 20px);
  }
  to {
    transform: translate(0px, 140px);
    opacity: 0.05;
  }
}
.container .anim-circle {
  transform: translate(0px, 20px);
  display: flex;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  animation: animation-1;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}/*# sourceMappingURL=style.css.map */