*{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 400px;
    width: 800px;

    .box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 330px;
        height: 70px;
        background-color: antiquewhite;
        border: solid 2px black;
        border-radius: 50px;
        padding: 5px 15px;
        animation: anim-1 2s;

        @keyframes anim-1 {
            from{
                height: 0px;
            }

            to{
                height: 70px;
            }
            
        }

        @keyframes anim-2 {
            0%{
                transform: translate(0px, 5px);
                height: 0px;
            }

            25%{
                scale: 1.13;
                height: 12.5;
            }

            50%{
                height: 12.5;
                scale: 1.14;
            }
            
            75%{
                scale: 1.15;
                height: 12.5;

            }

            100%{
                scale: 1;
                height: 50px;
                transform: translate(0px, 0px);
            }
            
        }

        @keyframes anim-3 {
            0%{
                transform: translate(0px, 0px);
                height: 0px;
            }

            25%{
                height: 12.5;
                transform: translate(0px, -10px);
            }

            50%{
                height: 12.5;
                transform: translate(0px, -6px);
            }
            
            75%{
                height: 12.5;
                transform: translate(0px, -2px);

            }

            100%{
                height: 50px;
                transform: translate(0px, 0px);
            }
            
        }

        @keyframes anim-4 {
            0%{
                transform: translate(0px, 5px);
                height: 0px;
            }

            25%{
                height: 12.5;
                transform: translate(0px, -10px);
            }

            50%{
                height: 12.5;
                transform: translate(0px, -8px);
            }
            
            75%{
                height: 12.5;
                transform: translate(0px, -4px);

            }

            100%{
                height: 50px;
                transform: translate(0px, 0px);
            }
            
        }

        .circle-1{
            height: 50px;
            width: 50px;
            background-color: rgb(122, 23, 39);
            border-radius: 100%;
            animation-duration: 3s;
            animation: anim-3 2s;
            animation-delay: 0.6s;
        }

        .circle-2{
            height: 50px;
            width: 50px;
            background-color: coral;
            border-radius: 100%;
            animation-duration: 3s;
            animation: anim-3 2s;
            animation-delay: 0.7s;
        }

        .circle-3{
            height: 50px;
            width: 50px;
            background-color: orange;
            border-radius: 100%;
            animation-duration: 3s;
            animation: anim-3 2s;
            animation-delay: 0.8s;
        }

        .circle-4{
            height: 50px;
            width: 50px;
            background-color: yellow;
            border-radius: 100%;
            animation-duration: 3s;
            animation: anim-3 2s;
            animation-delay: 0.9s;
        }

        .circle-5{
            height: 50px;
            width: 50px;
            background-color: rgb(239, 235, 152);
            border-radius: 100%;
            animation-duration: 3s;
            animation: anim-4 2s;
            animation-delay: 1s;
        }

    }

}