* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: cornflowerblue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 500px;
  width: 1000px;
}
.container .box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  height: auto;
  width: auto;
}
.container .box .finger-1 {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 13px;
  gap: 30px;
  height: 100px;
  width: 35px;
  background-color: white;
  animation: anim-1 linear;
  animation-duration: 1.3s;
  animation-delay: 1.1s;
  animation-iteration-count: infinite;
}
.container .box .finger-1 .fg-1-top {
  display: block;
}
.container .box .finger-1 .fg-1-top div {
  background-color: cornflowerblue;
  height: 5px;
  width: 20px;
  margin: 5px auto;
}
.container .box .finger-1 .fg-1-bottom {
  background-color: cornflowerblue;
  height: 25px;
  width: 25px;
  margin: auto;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.container .box .finger-2 {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 10px;
  gap: 45px;
  border-radius: 10px;
  height: 115px;
  width: 35px;
  background-color: white;
  animation: anim-1 linear;
  animation-duration: 1.3s;
  animation-delay: 1.3s;
  animation-iteration-count: infinite;
}
.container .box .finger-2 .fg-2-top {
  display: block;
}
.container .box .finger-2 .fg-2-top div {
  background-color: cornflowerblue;
  height: 5px;
  width: 20px;
  margin: 5px auto;
}
.container .box .finger-2 .fg-2-bottom {
  background-color: cornflowerblue;
  height: 25px;
  width: 25px;
  margin: auto;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.container .box .finger-3 {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 10px;
  gap: 60px;
  border-radius: 10px;
  height: 130px;
  width: 35px;
  background-color: white;
  animation: anim-1 linear;
  animation-duration: 1.3s;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
}
.container .box .finger-3 .fg-3-top {
  display: block;
}
.container .box .finger-3 .fg-3-top div {
  background-color: cornflowerblue;
  height: 5px;
  width: 20px;
  margin: 5px auto;
}
.container .box .finger-3 .fg-3-bottom {
  background-color: cornflowerblue;
  height: 25px;
  width: 25px;
  margin: auto;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.container .box .finger-4 {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 10px;
  gap: 45px;
  border-radius: 10px;
  height: 115px;
  width: 35px;
  background-color: white;
  animation: anim-1 linear;
  animation-duration: 1.3s;
  animation-delay: 1.7s;
  animation-iteration-count: infinite;
}
.container .box .finger-4 .fg-4-top {
  display: block;
}
.container .box .finger-4 .fg-4-top div {
  background-color: cornflowerblue;
  height: 5px;
  width: 20px;
  margin: 5px auto;
}
.container .box .finger-4 .fg-4-bottom {
  background-color: cornflowerblue;
  height: 25px;
  width: 25px;
  margin: auto;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.container .box .finger-5 {
  height: 50px;
  width: 55px;
  background-color: white;
  border-radius: 0% 30% 100% 0%;
  animation: anim-5 linear;
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes anim-1 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(0px, -7px);
  }
  50% {
    transform: translate(0px, -10px);
  }
  75% {
    transform: translate(0px, -4px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes anim-5 {
  0% {
    position: relative;
    top: 0px;
  }
  25% {
    transform: skewy(-5deg);
    position: relative;
    top: -5px;
  }
  50% {
    transform: skewy(-10deg);
    position: relative;
    top: -10px;
  }
  75% {
    transform: skewy(-5deg);
    position: relative;
    top: -5px;
  }
  100% {
    transform: skewy(0deg);
    position: relative;
    top: 0px;
  }
}/*# sourceMappingURL=style.css.map */