.main-1 {
  border: solid 3px black;
  margin: 50px auto;
  padding: 15px;
  height: auto;
  width: -moz-max-content;
  width: max-content;
}

.cont-1 {
  display: block;
}
.cont-1 .min-cont-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.cont-1 .min-cont-1 .figure-1 {
  background-color: purple;
  border: solid 5px orange;
  border-radius: 5px;
  height: 150px;
  width: 200px;
}
.cont-1 .min-cont-1 .figure-2 {
  background-color: purple;
  border: solid 5px orange;
  border-radius: 60px;
  height: 150px;
  width: 200px;
}
.cont-1 .min-cont-1 .figure-3 {
  background-color: purple;
  border: solid 5px orange;
  border-radius: 50%;
  height: 150px;
  width: 200px;
}
.cont-1 .min-cont-1 .figure-4 {
  background-color: purple;
  border: solid 5px orange;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 150px;
  width: 200px;
}
.cont-1 .min-cont-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.cont-1 .min-cont-2 .figure-5 {
  background-color: purple;
  border: solid 5px orange;
  margin-top: 35px;
  border-top-left-radius: 100%;
  height: 150px;
  width: 200px;
}
.cont-1 .min-cont-2 .figure-6 {
  background-color: purple;
  border: solid 5px orange;
  margin-top: 35px;
  border-radius: 20%;
  height: 150px;
  width: 200px;
}
.cont-1 .min-cont-2 .figure-7 {
  background-color: purple;
  border: solid 5px orange;
  margin-top: 35px;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
  height: 150px;
  width: 200px;
}
.cont-1 .min-cont-2 .figure-8 {
  background-color: purple;
  border: solid 5px orange;
  margin-top: 35px;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  height: 150px;
  width: 200px;
}

.main-2 {
  border: solid 3px black;
  margin: 50px auto;
  padding: 15px;
  height: auto;
  width: -moz-max-content;
  width: max-content;
}

.cont-2 {
  display: block;
}
.cont-2 .mini-cont-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.cont-2 .mini-cont-3 .figure-9 {
  background-color: lime;
  border: solid 5px red;
  border-radius: 60px;
  height: 175px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-2 .mini-cont-3 .figure-9 div {
  height: 110px;
  width: 200px;
  background-color: rgb(43, 43, 216);
  border: solid 3px rgb(1, 1, 144);
}
.cont-2 .mini-cont-3 .figure-10 {
  position: relative;
  background-color: purple;
  border: solid 5px orange;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 175px;
  width: 250px;
}
.cont-2 .mini-cont-3 .figure-10 div {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 110px;
  width: 200px;
  background-color: rgb(43, 43, 216);
  border: solid 3px rgb(1, 1, 144);
}
.cont-2 .mini-cont-4 {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.cont-2 .mini-cont-4 .figure-11 {
  position: relative;
  background-color: purple;
  border: solid 5px orange;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 175px;
  width: 250px;
}
.cont-2 .mini-cont-4 .figure-11 div {
  position: absolute;
  top: 30px;
  left: 20px;
  height: 100px;
  width: 180px;
  background-color: rgb(43, 43, 216);
  border: solid 3px rgb(1, 1, 144);
}
.cont-2 .mini-cont-4 .figure-12 {
  position: relative;
  background-color: purple;
  border: solid 5px orange;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 150px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 100px;
  height: 175px;
  width: 250px;
}
.cont-2 .mini-cont-4 .figure-12 div {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 100px;
  width: 180px;
  background-color: rgb(43, 43, 216);
  border: solid 3px rgb(1, 1, 144);
}/*# sourceMappingURL=style.css.map */