* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.container {
  position: relative;
  height: 400px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .box {
  margin: auto;
  padding: 20px;
  height: 200px;
  width: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
}
@keyframes anim-1 {
  0% {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: translate(0px, 0px);
  }
  25% {
    height: 30px;
    width: 30px;
    border-radius: 0%;
    transform: translate(70px, 0px);
  }
  50% {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: translate(70px, 70px);
  }
  75% {
    border-radius: 0%;
    transform: translate(0px, 70px);
    height: 30px;
    width: 30px;
  }
  100% {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: translate(0px, 0px);
  }
}
@keyframes anim-2 {
  0% {
    height: 30px;
    width: 30px;
    border-radius: 0%;
    transform: translate(0px, 0px);
  }
  25% {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transform: translate(0px, 70px);
  }
  50% {
    height: 30px;
    width: 30px;
    border-radius: 0%;
    transform: translate(-70px, 70px);
  }
  75% {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transform: translate(-70px, 0px);
  }
  100% {
    height: 30px;
    width: 30px;
    border-radius: 0%;
    transform: translate(0px, 0px);
  }
}
@keyframes anim-3 {
  0% {
    height: 30px;
    width: 30px;
    border-radius: 0%;
    transform: translate(0px, 0px);
  }
  25% {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transform: translate(0px, -70px);
  }
  50% {
    height: 30px;
    width: 30px;
    border-radius: 0%;
    transform: translate(70px, -70px);
  }
  75% {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transform: translate(70px, 0px);
  }
  100% {
    height: 30px;
    width: 30px;
    border-radius: 0%;
    transform: translate(0px, 0px);
  }
}
@keyframes anim-4 {
  0% {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: translate(0px, 0px);
  }
  25% {
    border-radius: 0%;
    height: 30px;
    width: 30px;
    transform: translate(-70px, 0px);
  }
  50% {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: translate(-70px, -70px);
  }
  75% {
    border-radius: 0%;
    height: 30px;
    width: 30px;
    transform: translate(0px, -70px);
  }
  100% {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: translate(0px, 0px);
  }
}
.container .box .blue {
  animation: anim-1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: none;
  background-color: blue;
}
.container .box .pink {
  animation: anim-2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 50px;
  width: 50px;
  border: none;
  background-color: pink;
}
.container .box .yellow {
  animation: anim-3;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 50px;
  width: 50px;
  border: none;
  background-color: yellow;
}
.container .box .purple {
  animation: anim-4;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: purple;
}/*# sourceMappingURL=style.css.map */